<h1>Cat Listings</h1>

<table>
  <tr>
    <% Cat.column_names.each do |column_name| %>
      <th> <%= column_name %> </th>
    <% end %>
    <th> Edit </th>
  </tr>
  
  <% @cats.each do |cat| %>
    <tr>
      <% Cat.column_names.each do |column_name| %>
        <td> <%= cat[column_name] %> </td>
      <% end %>
      <td>
        <%= link_to 'edit', edit_cat_url(cat) %>
      </td>
    </tr>
  <% end %>
</table>
